node_modules/
dist/

# Playwright
test-results/
playwright-report/
blob-report/
.last-run.json

# Allure
allure-results/
allure-report/
allure-history/

# Env / local
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp

# Logs
*.log
npm-debug.log*
